/**
 * @file: CanvasParticlesBackground.css
 * @description: Стили для компонента фона с анимированными частицами на Canvas
 * @created: 2026-01-27
 */

.canvas-particles-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  transform: translateZ(0);
}
