/**
 * @file: ParticlesAnimation.css
 * @description: Стили для компонента анимации частиц
 * @created: 2026-01-27
 */

.particles-animation-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  opacity: 1;
  transform: translateZ(0);
  will-change: transform;
  /* Улучшаем качество рендеринга - убираем pixelated, используем сглаживание */
  image-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] .particles-animation-canvas {
  opacity: 1;
}
